*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue Cyr";
}
a{
    text-decoration: none;
    color: #fff
}
p, span, h1, h2, h3, h4{
    color: #fff;
}
body, html{
    background: #050505;
    overflow-x: hidden;
    
}
svg{
    display: block;
    height: auto;
    width: 100%;
}
.itemDay{
    width:14.2%;
    min-width: 14.2%;
    vertical-align: middle;
    height:79px;
    cursor:pointer;
    overflow:hidden;
    position:relative;
    display: flex;
    justify-content:center;
    align-items:center
}
.activeTabLink:after{
    width:100%;
    height:3px;
    background-color: #fac054;
    content:"";
    display:block;
    position:absolute;
    bottom:-14px;
}